body {
    font-family: 'Rochester', cursive;
    font-family: 'Cabin', sans-serif;
    background-color: #EEEEEF;
}

.wrapper {
    width: 1400px;
    margin: 0px auto;
    box-sizing: border-box;
}

header {
    background: #6D91DC;
}

.header-menu-1 {
    display: flex;
    height: 72px;
    padding: 16px 52px;
    box-sizing: border-box;
    justify-content: space-between;
}

.header-left-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-text {
    color: #F8FDFE;
    font-size: 28px;
    font-weight: 400;
    font-family: Rochester;
}

.header-right-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.price-text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-menu-2 {
    display: flex;
    height: 32px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 4px 52px;
}

.header-left-content2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-right-content2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header-link-text-style {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.color {
    background: white;
}

.main-header {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin: 32px 52px;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 23px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 162px;
    gap: 32px;
}



.contact-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 416px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.first-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #8E8E8E;
    border-radius: 4px;
}

input:hover {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

input:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.last-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mobile-number {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email-address {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.delivery-address {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 416px;
}

textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #8E8E8E;
    border-radius: 4px;
    resize: none;
    width: 416px;
    height: 106px;
    font-family: Cabin, sans-serif;
}

.huge-text-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.delivery-day {
    display: flex;
    height: 28px;
    width: 420px;
    gap: 19px;
}

.date {
    padding: 2px 8px;
    width: 120px;
    box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


.small-text-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.call {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.another-text {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.radio-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pay {
    display: flex;
    flex-direction: column;
}

.main-radio-text {
    margin-bottom: 24px;
}

.pay-radio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right-box {
    display: flex;
    width: 526px;
    height: 456px;
    background: white;
    position: absolute;
    top: 0;
    right: 162px;
    padding: 40px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 32px;
}

.sushi {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 446px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.sushi-text {
    width: 192px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid #A8A8A8;
    margin-bottom: 3px;
}

.sushi-small-text {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 192px;
    height: 24px;
}

.sushi-number {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border: 1px solid #8E8E8E;
    width: 53px;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    margin-top: 8px;
}

.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #A8A8A8;
}

.checkbox-button {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.submit {
    display: flex;
    color: white;
    background: #3D76BA;
    padding: 8px 24px;
    border-radius: 4px;
    width: 215px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
}

.submit:hover {
    background: #63A1EB;
}

.reset {
    display: flex;
    background: #DEDEDE;
    padding: 8px 24px;
    border-radius: 4px;
    width: 215px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
}

.reset:hover {
    background: #EEEEEE;
}

footer {
    display: flex;
    height: 88px;
    background: #6D91DC;
    margin-top: 121px;
    align-items: center;
}

.footer-span {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-text-place {
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
}